# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

Nextsong/node_modules
services/Wallet_NextSong
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
services/.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
